/* .app {
  font-family: sans-serif;
  padding: 30px;
  background-color: black;
}

#earth {
  max-width: 60px;
  position: relative;
  -webkit-user-drag: none;
}

#orbit-container {
  width: 600px;
  height: 300px;
  border: 2px dashed white;
  border-radius: 100%;
}

#date {
  font-size: 46px;
  position: absolute;
  top: 165px;
  left: 280px;
  color: white;
} */
