<div class="container">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">@</span>
    <input type="text" class="form-control" placeholder="email" aria-label="Username" aria-describedby="basic-addon1">
  </div>
</div>